<h1>Edit Order (Order ID#<%= @customer_order.id%>)</h1>

<%= simple_form_for(@customer_order) do |f| %>
<%= f.association :customer, :prompt => "Choose a customer" %>
<%= f.input :date_ordered %>

<table>
  <%= f.fields_for :customer_order_products, @products_added do |product_fields| %>
		<tr>
			<td><%= product_fields.association :product, :prompt => "Choose a product" %></td>
			<td><%= product_fields.label :price %></td>
			<td><%= product_fields.input :quantity %></td>
		</tr>
  <% end %> 
</table>
 

<%= f.input :total %>
<%= f.button :submit %>
<% end %>


<%= link_to 'Show', @customer_order %> |
<%= link_to 'Back', customer_orders_path %>


