<h1>Editing customer_order</h1>

<%= simple_form_for(@customer_order) do |f| %>
<%= f.association :customer, :prompt => "Choose a customer" %>
<%= f.input :date_ordered %>
<table>
  <tr>
    <th>Product Name</th>
	<th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @customer_order.products.each do |order_products| %>
  <%= simple_form_for(order_products) do |p| %>
  <tr>
    <td><%= order_products.name %></td>
	<% @customer_order.customer_order_products.each do |customer_order_products| %>
	    <td><%= customer_order_products.quantity %></td>  
	<% end %>
	<td><%= order_products.price %></td>
  </tr>
  <% end %>
  <% end %>
</table>

<%= f.input :total %>
<%= f.button :submit %>
<% end %>


<%= link_to 'Show', @customer_order %> |
<%= link_to 'Back', customer_orders_path %>


