<h1>New customer_order</h1>

<%= simple_form_for(@customer_order) do |f| %>
<%= f.association :customer, :prompt => "Choose a customer" %>
<%= f.input :date_ordered %>
<%= f.input :total %>
<%= f.button :submit %>
<% end %>



<%= link_to 'Back', customer_orders_path %>
