<h1>Listing customers</h1>

<table>
  <tr>
    <th>Salutation</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>Apt</th>
    <th>City</th>
    <th>Zip</th>
    <th>State</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.salutation %></td>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <td><%= customer.address1 %></td>
    <td><%= customer.address2 %></td>
    <td><%= customer.apt %></td>
    <td><%= customer.city %></td>
    <td><%= customer.zip %></td>
    <td><%= customer.state %></td>
    <td><%= customer.notes %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
