<h1>New order</h1>

<%= simple_form_for(@order) do |f| %>
<%= f.association :customer, :prompt => "Choose a customer" %>
<%= f.input :date_ordered %>
<%= f.input :total %>
<%= f.button :submit %>
<% end %>



<%= link_to 'Back', orders_path %>
